@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
body
{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: darkcyan ;
}
.wrapper h1{
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Dancing Script' , cursive;
    color: rgb(11, 70, 236 ,1);
}
.wrapper{
    width: 770px;
    padding : 35px ;
    background: #fff ;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05) ;
}

.wrapper .input-field{
    opacity: 0;
    z-index: -999;
    position: absolute;

}

.wrapper .content-box{

    padding : 13px 20px 0 ;
    border-radius: 10 px;
    border: 1px solid #bfbfbf;
}

.content-box  .typing-text{
    overflow-y: hidden;
    max-height: 256px;
}

.typing-text::-webkit-scrollbar{
    width: 0;
}

.typing-text p {
    font-size: 21px;
    text-align : justify;
    letter-spacing: 1px;
}
.typing-text p span{
    position: relative;
}
 
.typing-text p span.correct{
    color: darkgreen;
    background : lightgreen;
    outline: 1px solid #fff;
    border-radius: 4px;
    
}
.typing-text p span.incorrect{
     color: darkred;
     background :#ffc0cb;
     outline: 1px solid #fff;
     border-radius: 4px;
} 
/* .typing-text p span.acitve{
    color: aqua;
} */
/* .typing-text p span.active::before{
    content : "";
    position: absolute;
    left : 0 ;
    bottom : 0 ;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: aqua;
    animation: blink 1s ease-in-out infinite ;
} */
/* @keyframes blink{
    50%{
        opacity : 1 ;
    }
} */
.content-box .content{
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #ccc;
    justify-content: space-between;
}
.content button{
    border: none;
    outline:none ;
     width:105px ;
    padding: 8px 0 ;
    color :white;
    cursor:pointer ;
    font-size: 16px;
    border-radius: 5px;
    background: lightcoral; 
    font-weight: bold;
    transition: transform 0.3s ease;
     
}
.content button:active{
    transform: scale(0.97);
}

.content .result-details{
    display: flex;
    flex-wrap : wrap;
    width: calc(100% - 144px);
    justify-content: space-between;
}
.result-details li{
    display: flex; 
    height: 22px;
    list-style: none;
    position: relative ;
    align-items: center;
}
.result-details li:not(:first-child){
    padding-left: 22px;
    border-left: 1px solid #ccc;
}
.result-details li p{
    font-size: 15px;
    font-weight: bold;
}
.result-details li span{
    display: block;
    font-size: 15px;
    margin-left: 10px; 
}
.result-details li:not(:first-child) span{
    font-weight: 500;
}
.result-details li b{
    font-weight: 500;
} 





 